/* app / general styling*/
body { 
  background-color: #EBF5EE;
}

.main { 
  margin-top: 15vh;
}

/* Header */
#Header { 
  border: 1px solid black;
  position: fixed; 
  top: 0;
  background-color: #283044;
  width: 95vw;
  padding: 10px; 
  left: 0;
  color: #fff; /* Header text color */
  z-index: 100; /* Set a high z-index to ensure the header is above other content */
}


/* Navigation */
#NavWrapper { 
  position: fixed; 
  top: 11vh;
  left: 0; 
  padding-left: 2em;
  padding-top: .4vh;
  padding-bottom: .4em;
  background-color: #78A1BB;
  width: 100vw; 
  display: flex inline
}

#Filter { 
  border: 1px solid black; 
}

#searchBar { 
  border: 1px solid black; 
}


/* Homepage */
#artHeader { 
 position: fixed;
 top: 11vh;
 background-color: white;  
}

.articles { 
  margin-top: 20vh;
}

.headerMargin { 
  margin-top: 15vh;
}

#singleArticle { 

}

#articleTitle { 

}

#articleImg { 
  width: 80vw; 
  height: 5vh; 
}


/* Bottom Buttons */

.BottomButtonPane { 
  border: 1px solid black; 
  position: fixed;
  bottom: 0;  
}