/* app / general styling*/
body { 
  background-color: #EBF5EE ;
}

.main { 
  margin-top: 20vh;
}

/* Header */
#Header { 
  border: 1px solid black;
  position: fixed; 
  top: 0;
  background-color: #283044;
  width: 100vw;
  padding: 10px; 
  left: 0;
  color: #fff; /* Header text color */
  z-index: 100; /* Set a high z-index to ensure the header is above other content */
}


/* SearchBar */
#searchBar { 
  position: fixed; 
  top: 11vh;
  left: 0; 
  padding-left: 2em;
  padding-top: .4vh;
  padding-bottom: .4em;
  background-color: #78A1BB;
  width: 100vw; 
  display: flex inline;
  opacity: 1;
  z-index: 1000
}

.custom-textfield {
  height: 30px; /* Set the desired height */
}



/* Homepage */

.fixedtop { 
  position: fixed; 
  margin-top: 16vh;
  top: 0vh;
  left: auto; 
  background-color: #EBF5EE;
  width: 100vw; 
  opacity: 1;
  z-index: 1000
}

.topSpacing { 
  margin-top: 30vh;
}

#topicPageHeader { 
  margin-bottom: .3vh;

}

#mainPageHeader { 
  margin-bottom: .3vh;
}

/* #artHeader { 
 position: fixed;
 top: 11vh;
 background-color: white;  
} */

/* .cardHeader { 
  height: 2vh;
} */

/* .articles { 
  margin-top: 20vh;
} */

.headerMargin { 
  margin-top: 15vh;
}


#articleImg { 
  width: 80vw; 
  height: 5vh; 
}

/* Bottom Buttons */

.BottomButtonPane { 
  border: 1px solid black; 
  position: fixed;
  bottom: 0;  
}